ETCD_LISTEN_PEER_URLS="http://{{ ansible_host }}:2380,http://127.0.0.1:7001"
ETCD_LISTEN_CLIENT_URLS="http://127.0.0.1:2379, http://{{ ansible_host }}:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_host }}:2380"
{% set server_ip = [] %}
{% for host in groups['etcd'] %}
{% do server_ip.append(  host+"=http://"+hostvars[host].ansible_ssh_host+":2380" ) %}
{% endfor %}
ETCD_INITIAL_CLUSTER="{{ server_ip|join(',') }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_host }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-psql-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_NAME="{{ inventory_hostname }}"
