global
    debug
    log /dev/log local0
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log                     global
    mode                    http
    option                  httplog
    option                  dontlognull
    option                  http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          9h
    timeout server          9h
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats
    bind :7000
    stats enable
    stats uri /
    monitor-uri /healthz

listen psql-write
    bind :9000
    mode tcp
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    {% for host in groups['psql'] %}
    server {{ cluster_name }}-psql-{{ loop.index }} {{ hostvars[host].ansible_default_ipv4.address }}:5432 maxconn 100 check port 8008
    {% endfor %}

listen psql-read
    bind :9001
    mode tcp
    balance roundrobin
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    {% for host in groups['psql'] %}
    server {{ cluster_name }}-psql-{{ loop.index }} {{ hostvars[host].ansible_default_ipv4.address }}:5432 maxconn 100 check port 8008
    {% endfor %}
